@model IEnumerable<BibleStudyCore.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Email)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Email*@)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgressID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgressID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
