@model IEnumerable<BibleStudyCore.Models.Json>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>



    
@foreach (var item in ViewBag.Message) {
        
        <h1>@item.bookname</h1>
                
            
            <h2>
                @item.chapter
            </h2>
            <h2>
                @item.verse
            </h2>
            <p>
                @item.text
            </p>
            <h1>
                @item.title
            </h1>
          
       
}
    

